body {
  margin: 0;
  font-family: monospace; 
}
main {
  display: flex;
}

.petition-container {
  width: 100%;
  flex-wrap: wrap;
}
.petition-container div {
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid red;
}
.petition-container div .petition-card {
  display: block;
  max-width: 30vh;
  justify-items: left;
  border: 1px solid green;
  color: blue
}


.petition-card {
  border-radius: 5px;
  border: 1px solid black;
  padding: 3vh;
  margin: 3vh;
}